body {
  color: $black;
  background-color: $white;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  textarea {font-family: $font-family;}
}

h1, h2, h3, h4, h5, h6 {
  color: $green;
}

a {
  color: $green;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $green-light;
  }
}

.content {
  margin: 50px 100px;
  min-height: 80vh;

  h1 {
    margin: 20px 0;
    border-bottom: 2px solid $green-light;
    padding: 10px 20px;
  }
}
