$black: #272516;
$white: #F8F7F2;

// olive grey
$grey: #636254;
$grey-light: #B4B3A7;

// deep blue
$blue: #626793;
$blue-light: #B6B8CE;

// salmon orange
$orange: #E07A5F;
$orange-light: #F2C6BA;

// fonts
$font-family: Roboto, Helvetica, Arial, sans-serif;
$font-size: 12pt;
