$black: #272516;
$white: #F8F7F2;

$green: #807E6C;
$green-light: #B4B3A7;

$blue: #626793;
$blue-light: #B6B8CE;

$orange: #E07A5F;
$orange-light: #F2C6BA;

// fonts
$font-family: Roboto, Helvetica, Arial, sans-serif;
$font-size: 12pt;
