@import 'variables';
@import 'base';
@import 'navigation_and_footer';
@import 'utils';
@import 'columns';

.legend {
  display: inline-block;
  width: 100px;
  height: 30px;
  padding: 5px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px $grey solid;
  margin: 10px 0;
  padding: 5px;

  div { color: $grey; font-size: 18pt; font-weight: bolder; }
}

.calendar-box {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .calendar-day-header {
    display: inline-block;
    height: 14px;
    width: 12%;
    margin: 5px;
    padding: 6px;
    border-bottom: 1px $black solid;
    text-align: center;
    font-weight: bold;
  }

  .calendar-day-box {
    display: inline-block;
    height: 30px;
    width: 12%;
    margin: 5px;
    padding: 30px 5px;
    border: 1px $black solid;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    text-decoration: none;
  }

  .calendar-day-box-empty {
    padding: 6px;
    border: none;
  }
}
